# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: eca91fe2f32f3f4bcd4dba22cb84342c173233ab2315bf940401190a2b173523f2b6f9e42d9a5de00ecdbc52cca90f07d521a92ab8665ef88a29e18e6132af
  gtm_id:  <%= ENV["GTM_ID"] || "" %>
test:
  secret_key_base: 9a7bbd981f7c29bd9b0c4644f28430f3555b093a500dd0b92f816636f3a1b07017b0e86b157b96441dd1c9be4549a79saa0e358ed766f086b8bbe0ce09c6qw
  gtm_id:  <%= ENV["GTM_ID"] || "" %>
# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  gtm_id:  <%= ENV["GTM_ID"] || "" %>
